/* Reset e Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
  }
  
  /* Cabeçalho */
  header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffdd57;
  }
  
  /* Seção Hero */
  #hero {
    background: url('./img/celular1.jpg') no-repeat center center/cover;
    background-size: contain; /* Ajusta a imagem para caber completamente */
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 3rem;
  }
  
  #hero p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #007bff;
  }
  
  .cta {
    background-color: #ffdd57;
    color: #333;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .cta:hover {
    background-color: #ffc107;
  }
  
  /* Seções Gerais */
  section {
    padding: 100px 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #007bff;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
  }
  
  li {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  #depoimentos h3 {
    margin: 40px 0; /* Espaçamento de 40px acima e abaixo */
    text-align: center; /* Centraliza o texto */
    color: #333; /* Cor opcional para destacar */
  }
  
  
  /* Formulário */
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input, button {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Rodapé */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  